.product-page {
  display: flex;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

/* Styling the image */
.product-page__img {
  flex: 1;
  width: 100%;
  height: 500px;
}

/* Styling the info of the prod */
.product-page__info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info__title {
  font-size: 2rem;
  color: var(--black);
}

.info__info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.3rem;
}
.info__info-company {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black);
}
.info__info-rating {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Styling the description */
.info__desc {
  font-size: 1.1rem;
  color: #61675f;
  margin-top: 1rem;
}

/* The price */
.info__price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.info__price-off {
  color: var(--dark-aqua);
  font-weight: 700;
  font-size: 1.4rem;
}

.info__price-price {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 1000;
  color: var(--aqua);
}
.info__price-price span {
  color: #61675f;
  font-weight: 500;
  text-decoration: line-through;
}

/* Button styling */
.info__btn {
  margin-top: 0.4rem;
  padding: 0.6rem;
  border: none;
  background-color: var(--brown);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}
.info__btn:hover {
  background-color: #997c71;
}

/* Add to cart button */
.info__btn-incart {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.incart__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.incart__quantity-btn {
  background-color: var(--brown);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s;
}
.incart__quantity-btn:hover {
  background-color: #997c71;
}

.incart__quantity-value {
  flex: 3;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.incart__quantity-value span {
  font-size: 1.5rem;
}

.incart__remove {
  background-color: #db1313;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.incart__remove:hover {
  background-color: #f31515;
}

/* Media queries */
@media (max-width: 1150px) {
  .product-page {
    gap: 1rem;
  }
  .product-page__img {
    min-width: 60%;
  }
}

@media (max-width: 800px) {
  .product-page {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .product-page {
    padding-bottom: 0;
  }
  .info__price-off {
    font-size: 1.2rem;
  }
  .info__price-price {
    font-size: 1.3rem;
  }
}
