.products__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

@media (max-width: 1200px) {
  .products__container {
    gap: 1rem;
  }
}

@media (max-width: 1100px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 650px) {
  .products__container {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }
}

@media (max-width: 400px) {
  .products__container {
    margin: 0;
    gap: 1rem;
  }
}
