.products {
  display: flex;
  gap: 1.5rem;
}

.products__card {
  flex: 1;
}
.products__card img {
  height: 200px;
}

@media (max-width: 1760px) {
  .products {
    overflow-x: scroll;
  }
}

@media (max-width: 600px) {
  .products {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  .products__card img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .products__card img {
    height: 200px;
  }
}
