.products {
  display: flex;
  gap: 1.5rem;
}

.products__card {
  flex: 1;
}
.products__card img {
  height: 200px;
}

@media (max-width: 1760px) {
  .products {
    overflow-x: scroll;
  }
}

@media (max-width: 600px) {
  .products__card img {
    height: 150px;
  }
}

@media (max-width: 430px) {
  .products__card img {
    height: 100px;
  }
}
