.search {
  position: relative;
}

.search__input {
  width: 500px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--aqua);
  border-radius: 6px;
  color: var(--black);
  background-color: var(--gray);
  border: none;
  height: 40px;
}

.search__input:focus {
  outline: 2px solid #6d9e9797;
}

.search__button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #997c71;
  cursor: pointer;
  transition: background-color 0.2s;
}
.search__button:hover {
  background-color: var(--brown);
}

@media (max-width: 1050px) {
  .search__input {
    width: 400px;
  }
}

@media (max-width: 735px) {
  .search {
    padding: 0 2rem;
  }
  .search__input {
    width: 100%;
  }
  .search__button {
    right: 30px;
  }
}

@media (max-width: 500px) {
  .search {
    padding: 0 1rem;
  }
  .search__button {
    right: 1rem;
  }
}
