.offer {
  background-color: #fff;
  flex: 1;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  min-width: 200px;
}

.offer__title {
  font-size: 1.4rem;
  font-weight: 700;
}

.offer__img {
  height: 250px;
}

.offer__btn {
  text-decoration: none;
  color: var(--dark-aqua);
  font-size: 1.1rem;
}
.offer__btn:hover {
  text-decoration: underline;
  color: var(--aqua);
}

@media (max-width: 900px) {
  .offer {
    min-height: 100px;
  }
  .offer__img {
    height: 150px;
  }

  .offer__title {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .offer__img {
    min-height: 200px;
  }
}

@media (max-width: 500px) {
  .offer {
    width: 100%;
  }
}
