/* placing separated the cart info with cart delete btn */
.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cartitem__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cartitem__item img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

/* styling the info text */
.cartitem__item-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* title and quantity */
.item__info-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--black);
}
.item__info-title span {
  font-size: 0.9rem;
  color: #5f6765;
}

/* discount percentaje */
.item__info-off {
  color: var(--dark-aqua);
  font-weight: 1000;
  font-size: 1.1rem;
}

/* Price and discounted price */
.item__info-price {
  font-size: 1.1rem;
  font-weight: 1000;
  color: var(--aqua);
}

.item__info-price span {
  color: #5f6765;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: line-through;
}

/* Cart delete button */
.cartitem__delete {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.cartitem__delete p {
  font-size: 1.1rem;
  font-weight: 700;
  color: #782424;
}

.cartitem__delete-close {
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  transition: transform 0.2s;
}
.cartitem__delete-close:hover {
  transform: scale(1.08);
}

/* Media queries */
@media (max-width: 650px) {
  .cartitem__item img {
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .cartitem__delete p {
    display: none;
  }
  .cartitem__delete-close {
    padding: 0.5rem;
  }
}

@media (max-width: 430px) {
  .cartitem__item img {
    width: 150px;
    height: 100px;
  }

  .item__info-title {
    font-size: 1.1rem;
  }
  .item__info-title span {
    font-size: 0.8rem;
  }
  .item__info-off {
    font-size: 0.9rem;
  }
  .item__info-price {
    font-size: 0.9rem;
  }
  .item__info-price span {
    font-size: 0.7rem;
  }
}

@media (max-width: 345px) {
  .cartitem__item {
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
  }
}
