.carousel__products {
  cursor: pointer;
  overflow: hidden;
}

.products__card {
  display: flex;
  gap: 1.5rem;
}

.card__product {
  pointer-events: none;
}
.card__product img {
  height: 200px;
}
