.carousel__container {
  background-color: #fff;
  padding: 1rem;
}

.carousel__products {
  cursor: pointer;
  overflow: hidden;
}

.carousel__container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.products__card {
  display: flex;
  gap: 1.5rem;
}

.card__product {
  pointer-events: none;
}
.card__product img {
  height: 200px;
}
