header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

main {
  padding: 0rem 14rem;
  background-color: #f8f8f8;
  min-height: 74.5vh;
}

@media (max-width: 1360px) {
  main {
    padding: 0 8rem;
  }
}

@media (max-width: 1050px) {
  main {
    padding: 0 4rem;
  }
}

@media (max-width: 900px) {
  main {
    padding: 0 2rem;
  }
}

@media (max-width: 800px) {
  main {
    padding: 0 1rem;
  }
}

@media (max-width: 736px) {
  main {
    min-height: 65vh;
  }
}
